[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pip = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
"flask-bootstrap4" = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"
