{% extends 'bootstrap/base.html' %}
{% block content %}
    <title>Crop Recommendation Analysis Form</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">

<style rel="stylesheet" type="text/css" media="screen">
    .card {
        box-shadow: -1px 1px 60px 10px black;
        background: rgb(0,0,0,0.4);
        color: white;
    }
</style>

<body background="/static/img/agric_three.jpg">

    <div class="col-md-6 offset-md-3">
        <span class="anchor" id="cropRecommender"></span>
        <hr class="mb-5">

        <!-- form card register -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0 text-center">Soil Analysis</h3>
            </div>
            <div class="card-body">
                <form class="form" action="{{ url_for('analysis') }}" method="POST">
                    <div class="form-group">
                        <label>PH Level (ranging from 1-7)</label>
                        <input type="number" step="any" class="form-control" name="pH" placeholder="pH Level" required="">
                    </div>
                    <div class="form-group">
                        <label>Nitrogen Content - N (mg)</label>
                        <input type="number" step="any" class="form-control" name="N" placeholder="Nitrogen Content" required="">
                    </div>
                    <div class="form-group">
                        <label>Phosphorus Content - P (mg)</label>
                        <input type="number" step="any" class="form-control" name="P" placeholder="Phosphorus Content" required="">
                    </div>
                    <div class="form-group">
                        <label>Calcium Content - K (mg)</label>
                        <input type="number" step="any" class="form-control" name="K" placeholder="Calcium Content" required="">
                    </div>
                    <div class="form-group">
                        <label>Organic Carbon - OC (mg)</label>
                        <input type="number" step="any" class="form-control" name="OC" placeholder="Organic Carbon" required="">
                    </div>
                    <div class="form-group">
                        <label>Particles (micrometer)</label>
                        <input type="number" step="any" class="form-control" name="Particles" placeholder="Particles" required="">
                    </div>
                    <div class="form-group">
                        <label>Water Holding Capacity (atm))</label>
                        <input type="number" step="any" class="form-control" name="Water_holding_content" placeholder="Water Holding Capacity" required="">
                    </div>
                    <div class="form-group">
                        <label>Soil Type (Clay: 1, Sandy: 2, Loamy: 3)</label>
                        <input type="number" step="any" class="form-control" name="Soil_type" placeholder="Enter the corresponding number for each soil type" required="">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success btn-lg float-right" value="analyze">Analyze</button>
                    </div>
                </form>

            </div>
        </div>

    </div>        <!-- /form card register -->
</body>



{% endblock %}